[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Icon=clion
Exec=clion %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
